# General macOS files

.DS_store

# Carnations Internal

assets/binaries
assets/logs

extras/high_sierra_patches.json
extras/sierra_patches.json
extras/patches.txt

tools/

# XNU Source Trees

xnu-xnu-3789.70.16
xnu-xnu-4570.71.2
